body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    background: linear-gradient(45deg, #f5f5f5, #fff);
    min-height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .headline {
    background: linear-gradient(90deg, #020234, #054602);
    padding:2rem;
    border-radius:25px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    max-width: 50%;
    margin:0 auto;
    margin-bottom:20px;
    
  }
  
  /* Color Boxes */
  .colors {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  .color-box {
    width: 200px;
    height: 120px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .color-box:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  /* Royal Colors */
  .royal-red {
    background-color: #dc143c;
  }
  .royal-blue {
    background-color: rgb(0, 56, 168);
  }
  .royal-gradient {
    background: linear-gradient(90deg, #02026b, #ff0000);
  }
  
  /* Palace Card */
  .palace-card {
    width: 550px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin: 40px auto;
  }
  
  .palace-card:hover {
    transform: translateY(-10px);
  }
  
  .palace-image {
    height: 350px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/83/Narayanhiti_Palace_Museum%2C_crop.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  
  .card-content {
    padding: 25px;
  }
  
  .tag {
    display: inline-block;
    background: #013607;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  h1,
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  .card-title {
    font-size: 24px;
    color: #333;
    margin: 0 0 15px 0;
  }

  .card-text{
    color:#333;
    line-height:1.5;
    margin:0;
  }
  
 